* {
  padding: 0;
  margin: 0;
  font-family: arial;
}

body {
  background-color: black;
  padding: 100px;
}

.container {
  height: 235px;
  width: 190px;
  background-color: white;
  border-radius: 25px;
}

.Top {
  padding: 10px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Top img {
  height: 32px;
  width: 32px;
  border: 1px solid #dadada;
  border-radius: 50%;
}

.btn {
  height: 15px;
  font-size: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.center {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 55px;
}

.center .heading {
  font-size: 14px;
  font-weight: 600;
}

.center h2 {
  font-size: 16px;
  font-weight: 780;
}

.center h4 {
  font-size: 8px;
  border: 2px solid rgb(241, 239, 239);
  border-left-width: 5px;
}

.nEW {
  font-size: 7px;
  color: grey;
}

.footer {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h3 {
  font-size: 14px;
  font-weight: 600;
}

.footer p {
  font-size: 9px;
  color: grey;
}

.footer button {
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.footer button:hover {
  transform: scale(1.1);
}
